[user]
	name = carlos
	email = huaixian.huang@gmail.com
[core]
	editor = vim
[alias]
        logall = log --decorate --all --graph
        addall = add .
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
